{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="navbar navbar-primary bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">CineSuper</a>
            <div class="action">
                {% if app.user is empty %}
                    <a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
                {% else %}
                    <a href="{{ path('logout') }}" class="btn btn-primary">Déconnexion</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% for label, messages in  app.flashes(['info', 'danger', 'success'])  %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        CineSuper - Tous droits réservés
    </footer>
{% endblock %}
