{% extends 'layout.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block content %}
    {{ form_start( form ) }}

    {{ form_row( form.firstName ) }}
    {{ form_row( form.lastName ) }}
    {{ form_row( form.email ) }}
    {{ form_row( form.password ) }}

    <button type="submit" class="btn btn-primary">Inscription</button>
    {{ form_end( form ) }}
{% endblock %}
